body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    font-size: 20px;
    background:black;
    background-position: 50% 50%;
    background-size: cover;
    height: 100vh;
}
.thema h1{
    width: 10px;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 0;
    position: fixed;
}
.thema img{
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
    position: fixed;
    z-index: 0;
}


/*menu*/
.menu{
    height: 25px;
    left: 0px;
    padding-left: 0px;
    border-left-style: solid;
    margin-left: 1450px;
    position: absolute;
    right: 25px;
    top: 30px;
    width: 30px;
    z-index: 99;
    position: fixed;
}
.menu__line{
    background: #fff;
    display: block;
    height: 3px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 11px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 14px;
    transform: rotate(135deg);
}
/*gnav*/
.gnav{
    background:black;
    display: none;
    height: 100%;
    top: 0px;
    padding-top: 200px;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.gnav__wrap{
    align-items:center;
    display: flex;
    height: 100%;
    margin-top: -200px;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.gnav__menu__item{
    margin-top: -100px;
    margin: 40px 0;
}
.gnav__menu__item a{
    color: white;
    padding-top: -100px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
}
.gnav__menu__item a:hover{
    color: #666;
}
.home1{
  background-image: url(images/hands-from-hell-horror-background-zombie-breakout_77569-90.png);
  background-size: cover;
  background-blend-mode: hard-light;
  min-height: 100vh;
  background-position: right bottom;
}
.home1::before {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.logo1 img.logo1{
  width: 20%;
  margin-top: 200px;
  margin-left: 605px;
}
.glitch {/*基本設定*/
    color: white;
    font-family: Survival Horror,sans-serif;
    font-weight: 800;
    font-size: 110px;
    letter-spacing: -3px;
    position: relative;
    width: 870px;
    top: 350px;
    margin-bottom: 800px;
    margin-left: 400px;
    z-index: 30;
  }

  @keyframes noise-anim {/*細かい動きを設定してノイズが走っているかのように動かす*/
    0% {
      clip: rect(77px, 9999px, 6px, 0);
    }
    5% {
      clip: rect(65px, 9999px, 70px, 0);
    }
    10% {
      clip: rect(82px, 9999px, 82px, 0);
    }
    15% {
      clip: rect(32px, 9999px, 35px, 0);
    }
    20% {
      clip: rect(31px, 9999px, 49px, 0);
    }
    25% {
      clip: rect(18px, 9999px, 46px, 0);
    }
    30% {
      clip: rect(94px, 9999px, 64px, 0);
    }
    35% {
      clip: rect(69px, 9999px, 31px, 0);
    }
    40% {
      clip: rect(6px, 9999px, 72px, 0);
    }
    45% {
      clip: rect(25px, 9999px, 35px, 0);
    }
    50% {
      clip: rect(82px, 9999px, 26px, 0);
    }
    55% {
      clip: rect(7px, 9999px, 92px, 0);
    }
    60% {
      clip: rect(54px, 9999px, 30px, 0);
    }
    65% {
      clip: rect(86px, 9999px, 90px, 0);
    }
    70% {
      clip: rect(38px, 9999px, 65px, 0);
    }
    75% {
      clip: rect(41px, 9999px, 66px, 0);
    }
    80% {
      clip: rect(31px, 9999px, 37px, 0);
    }
    85% {
      clip: rect(8px, 9999px, 12px, 0);
    }
    90% {
      clip: rect(50px, 9999px, 69px, 0);
    }
    95% {
      clip: rect(7px, 9999px, 42px, 0);
    }
    100% {
      clip: rect(14px, 9999px, 57px, 0);
    }
  }
  .glitch:after {/*疑似要素を加えてカスタムデータ属性の値を表示、重ねる*/
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 1s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {/*ノイズ用アニメーションその2*/
    0% {
      clip: rect(18px, 9999px, 13px, 0);
    }
    5% {
      clip: rect(74px, 9999px, 51px, 0);
    }
    10% {
      clip: rect(33px, 9999px, 65px, 0);
    }
    15% {
      clip: rect(64px, 9999px, 66px, 0);
    }
    20% {
      clip: rect(75px, 9999px, 6px, 0);
    }
    25% {
      clip: rect(40px, 9999px, 49px, 0);
    }
    30% {
      clip: rect(71px, 9999px, 1px, 0);
    }
    35% {
      clip: rect(42px, 9999px, 73px, 0);
    }
    40% {
      clip: rect(92px, 9999px, 57px, 0);
    }
    45% {
      clip: rect(4px, 9999px, 33px, 0);
    }
    50% {
      clip: rect(4px, 9999px, 34px, 0);
    }
    55% {
      clip: rect(49px, 9999px, 25px, 0);
    }
    60% {
      clip: rect(24px, 9999px, 44px, 0);
    }
    65% {
      clip: rect(31px, 9999px, 99px, 0);
    }
    70% {
      clip: rect(54px, 9999px, 83px, 0);
    }
    75% {
      clip: rect(57px, 9999px, 97px, 0);
    }
    80% {
      clip: rect(3px, 9999px, 15px, 0);
    }
    85% {
      clip: rect(84px, 9999px, 34px, 0);
    }
    90% {
      clip: rect(100px, 9999px, 88px, 0);
    }
    95% {
      clip: rect(91px, 9999px, 59px, 0);
    }
    100% {
      clip: rect(10px, 9999px, 87px, 0);
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 1000;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
.about hr{
    margin-top: 0px;
    color: rgb(94, 93, 93);
}
.about h1{
    padding-top: 100px;
    margin-left: 160px;
    color: white;
    text-align: left;
    font-size: 70px;
    letter-spacing: 10px;
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.aboutcontent{
  display: flex;
  justify-content: space-around;

}
.aboutcontent p{
  color: #fff;
  font-size: 20px;
  font-family: Meiryo,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 40px;
  font-style: normal;
  margin: 50px;
  margin-left: 120px;
}
.item1{
  flex-basis: 450px;
}
.item2{
  margin-right: 100px;
  flex-wrap: wrap;
}

.story h1{
  padding-top: 100px;
  margin-left: 730px;
  color: white;
  text-align: left;
  font-size: 70px;
  letter-spacing: 10px;
  font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
  font-weight: 600;
  font-style: normal;
}
.storycontent{
  display: flex;
  justify-content: space-around;

}
.storycontent p{
  color: #fff;
  font-size: 20px;
  font-family: Meiryo,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 40px;
  font-style: normal;
  margin: 50px;
  margin-left: -65px;
  margin-right: 180px;
}
.item1{
  flex-basis: 700px;
}
.item2{
  margin-left: 80px;
}

.position h1{
  padding-top: 100px;
  margin-left: 160px;
  color: white;
  text-align: left;
  font-size: 70px;
  letter-spacing: 10px;
  font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
  font-weight: 600;
  font-style: normal;
}
.positioncontent{
display: flex;
justify-content: space-around;
margin-bottom: 20vh;
}
.positioncontent p{
  color: #fff;
  font-size: 20px;
  font-family: Meiryo,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 40px;
  font-style: normal;
  margin: 50px;
  margin-left: 120px;
}
.item2{
margin-right: 100px;

}
.spell{
    margin-top: 100px;
    margin-left: 80px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    display: inline;
    padding: .3em;
    color: white;
    line-height: 1.5;
}
footer{
    background-color: ;
    text-align: center;
    padding: 26px 0;
    background-color: rgb(49, 49, 49);
}
footer p{
    color: white;
    font-size: 10px;
}
.wrapper h2 img{
    padding-top: 20px;
    width: 50px;
}


@media screen and (max-width: 480px){

  .glitch {font-size: 13.5vw;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}
  .home1 img {width: 100vw;}
  .story {text-align: center;}
  .position {text-align: center;}
  .item1 {order: 2;}
  .item2 img {width: 90vw;
    margin-left:  -20vw;
    order: 1;
  }

  .aboutcontent {flex-direction: column;}
  .storycontent {flex-direction: column;}
  .positioncontent {flex-direction: column;}
  .about h1{
    padding-top: 100px;
    margin-left: 20px;
    color: white;
    text-align: center;
    font-size: 6.6vw;
    letter-spacing: 0.4vw;
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .aboutcontent p{
    color: #fff;
    font-size: 3.2vw;
    font-family: Meiryo,sans-serif;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 40px;
    font-style: normal;
    margin: 10vw;
    margin-left: 10vw;
  }
  .story h1{padding-top: 100px;
    margin-left: 20px;
    color: white;
    text-align: center;
    font-size: 6.6vw;
    letter-spacing: 0.4vw;
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
  margin-top: -300px;}
  .storycontent p{
    color: #fff;
    font-size: 3.2vw;
    font-family: Meiryo,sans-serif;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 40px;
    font-style: normal;
    margin: 10vw;
    margin-left: 10vw;
  }
  .position h1{
    padding-top: 100px;
    margin-left: 20px;
    color: white;
    text-align: center;
    font-size: 6.6vw;
    letter-spacing: 0.3vw;
    font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-top: -300px;
  }
  .positioncontent p{
    color: #fff;
    font-size: 3.2vw;
    font-family: Meiryo,sans-serif;
    font-weight: 400;
    letter-spacing: 0.1vw;
    line-height: 40px;
    font-style: normal;
    margin: 10vw;
    margin-left: 10vw;
  }
  .menu {margin: 90vw;
  margin-top: 0.5vw;}
  .logo img{
    width: 20vw;
  }
 footer {margin-top: -250px;}
  body {overflow-x: hidden;}
}
